PORT=5000
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net"
MONGODB_DB_NAME="purrfect"

JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="7d"

CLIENT_URL="http://localhost:5173"

# Google OAuth 2.0 Credentials
GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_CALLBACK_URL="http://localhost:5000/api/auth/google/callback"


MAIL_HOST="your_mail_host"
MAIL_USER="your_mail_user"
MAIL_PASS="your_mail_pass"
MAIL_FROM_NAME="Purrfect"

CLOUDINARY_NAME="your_cloudinary_name"
CLOUDINARY_KEY="your_cloudinary_key"
CLOUDINARY_SECRET="your_cloudinary_secret"